header {
	color: black;
	text-decoration: underline;
	text-align: center;
	font-style: oblique;
	font-size: 40px;
	padding-bottom: 20px;
}

body{
	margin: 15px;
	height: 100vh;
	background-color: ghostwhite;
}

.body{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.topicbox {
	margin: 7px 10px;
	width: 1100px;
	background-color: ghostwhite;
	border: 0.01px solid black;
}

ul{
	margin-block-start: 0px;
    	margin-block-end: 0px;
	padding-inline-start: 20px;
	font-size: 13px;
}

footer{
	margin-top: 5px;
	max-width: 200px;
	position: relative;
	left: 10px
}

.topic {
	font-size: 20px;
	font-weight: bold;
	padding : 5px 3px;
	display: block;
}

.sub_topic {
	font-size: 15px;
	font-weight: 200px;
	margin-top: 4.5px;
	padding-left: 3px;
	display: block;
}

.description{
	margin-block-start: 1px;
	margin-block-end: 2px;
	font-size:13px;
	padding-left : 3px;
}

a{
	text-decoration: none;
}

a[href^="mailto"]::before {
	content: "📧 ";
	display: inline-block;
      }
  
a[href^="tel"]::before {
	content: "📞 ";
	display: inline-block;
      }